/* Global Font Styling */
html * {
  font-family: Arial !important;
}

p {
  color: red;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.goal-row {
  margin-bottom: 50px;
}
.chart-row {
  margin: 5%;
}
.button_slide {
  color: black;
  background-color: White;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 30px;
  padding: 12px 20px;
  display: inline-block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #d80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #d80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #d80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #d80286;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
hr {
  margin-top: 20px;
  border: none;
  border-top: 1px dashed black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

/* Pie Chart Styling */
html,
body {
  height: 100%;
  place-items: center;
  background: white;
}

.circular {
  z-index: 0;
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: white;
  border-radius: 100%;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #4158d0;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: lightgray;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #4158d0;
}

/* Animation Pie */
.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
.container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

/* Navigation */
.slide-menu {
  visibility: hidden;
  background-color: #f5f6f9;
  width: 33vw;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.isShown {
  visibility: visible;
  transform: translateX(0);
  height: 100%;
}

.navigation {
  position: absolute;
}

.menu-button {
  margin-top: 34px;
  background-color: transparent;
  border: none;
}

#menu-container {
  height: 100vw;
}

#menu {
  list-style-type: none;
}

.menu-item {
  padding-top: 25px;
}

.menu-item a {
  text-decoration: none;
}

.budget-form {
  margin: auto;
  padding: 10px;
}

.pure-control-group {
  padding: 10px;
  margin: auto;
}
